body {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  background-image: url("road-6175186_640.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.currentTime{
  margin-left: 30px;
  margin-top: 30px;
}

.currentTime p{
  font-size: 40px;
  font-weight: 900;
  color: black;
  margin: 0;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.main-container-inner-text {
  display: flex;
  justify-content: center;
  margin: 20px 0;
}

.main-container-inner-text label{
  padding: 10px;
  color: green;
  font-weight: 700;
}

.main-container-inner-text input[type="number"] {
  width: 80px;
  padding: 10px;
  margin: 0 10px;
  border: 1px solid rgb(221, 221, 240);
  border-radius: 5px;
  color: green;
}

.main-container-inner-text input[type="number"]::placeholder {
  color: blue;
}

input[type="number"]:focus {
  width: 150px;
  outline: none;
}

.main-container-inner-text input[type="submit"] {
  width: 100px;
  padding: 12px;
  margin: 0 10px;
  border: none;
  border-radius: 5px;
  background-color: black;
  color: white;
}

input[type="submit"]:hover {
  background-color: rgb(22, 22, 177);
  cursor: pointer;
}

.main-container-inner {
  display: flex;
  justify-content: center;
  gap: 40px;
}

.same {
  display: flex;
  flex-direction: column;
  align-items: center;
  border-radius: 10px;
  padding: 10px 30px;
  background-color: black;
}

.same p {
  color: white;
  font-weight: 700;
  font-size: 20px;
}

.red,
.yellow,
.green {
  height: 100px;
  width: 100px;
  border-radius: 50%;
  margin: 15px 0;
  box-shadow: 10px 10px 10px #b7b7b7;
}

.red {
  background-color: red;
}

.yellow {
  background-color: yellow;
}

.green {
  background-color: green;
}

.close {
  background-color: #444;
}
.score {
  height: 40px;
  width: 40px;
  border-radius: 8px;
  background-color: white;
  text-align: center;
  vertical-align: middle;
  font-size: 24px;
  font-weight: 700;
  color: green;
}
